<div class="app-container">
    <!-- Top Navigation Bar -->
    <div class="top-nav">
      <div class="brand">MyApp</div>
      <div class="user-menu">
        <!-- Add user profile, notifications, etc., here -->
        <span>Username</span>
      </div>
    </div>
  
    <!-- Sidebar and Main Content Wrapper -->
    <div class="content-wrapper">
      <div [ngClass]="{'sidebar': true, 'collapsed': isSidebarCollapsed}">
        <ul>
            <li (click)="toggleSidebar()">
                <i class="menu-icon" [ngClass]="isSidebarCollapsed ? 'fas fa-chevron-right' : 'fas fa-chevron-left open-sidebar'"></i>
            </li>
            <li>
                <i class="fas fa-tachometer-alt menu-icon"></i>
                <span *ngIf="!isSidebarCollapsed">Dashboard</span>
            </li>
            <li>
                <i class="fas fa-cogs menu-icon"></i>
                <span *ngIf="!isSidebarCollapsed">Settings</span>
            </li>
        </ul>
      </div>
  
      <!-- Main Content Area -->
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  